{% extends "base.html" %}

{% block title %}Преподаватели{% endblock %}

{% block content %}

<h2>Преподаватели</h2>

<p><strong>Наши преподаватели — лучшие!</strong></p>

<p>Профессионалы высокого класса, вдохновляющие студентов на научные и инженерные достижения.</p>

<ul>
    <li>Опыт работы в ведущих отраслях</li>
    <li>Участие в реальных проектах и исследованиях</li>
    <li>Современные методы преподавания</li>
    <li>Поддержка и наставничество</li>
</ul>

<p>С ними ты станешь настоящим профи!</p>

{% endblock %}